# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
Thumbs.db

.vs/*
*~
*.tlog
*.log
*.idb
*.pdb

proj.win32/Debug/*
wren/util/vs2017/lib/obj/Win32/Debug/*
wren/util/vs2017/wren/obj/Win32/Debug/*
./wren/wrenlib/Debug

cocos2d
